.remove-button{
    color: #aaaaaa;
    font-size:1.2rem;
}
.remove-button[disabled]{
    color: rgba(0,0,0,0);
    font-size:1.2rem;
}
/* .remove-button[disabled]:first-child{
    content: "";
} */
.have-stock{
    color: #ff0000;
    font-size:1.2rem;
}
.no-stock{
    color: rgba(0,0,0,0);
    /* font-size:1.2rem; */
    content: "";
}