.searchBox{
    height: 80px;
    width: 70px;
    border: 2px solid #E54E3D;
    border-radius: 8px;
    background: rgba(0,0,0,0);
    text-align: center;
    margin: 0px 20px 10px 0px;
    font-size: 2.5rem;
}
.submit_button{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    background: #E54E3D;
    text-align: center;
    font-size: 1.5rem;
    color:#FFFFFF;
    margin: -50px 0px 0px 540px;
}
.go_random_button{
    height: 30px;
    width: 120px;
    border-radius: 8px;
    background: rgba(0,0,0,0);
    text-align: center;
    margin: -30px 0px 0px 660px;
    font-size: 1.2rem;
    color: #E54E3D;
}